.comment {
  display: flex;
  margin-bottom: 20px;
}
.comment .comment-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--input-color);
  padding: 5px 20px;
  border-radius: 20px;
  margin-right: 20px;
}
.comment img {
  border-radius: 50%;
  background-size: cover;
  height: 40px;
  width: 40px;
}
.comment .comment-content .username-comment {
  flex: 1;
  padding-right: 10px;
}
.comment .comment-content .username-comment h4 {
  font-size: 20px;
}
.comment .comment-content .username-comment label {
  font-size: 18px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}
